

body {
  	margin:0;
	padding: 0;
  	font-family: 'Roboto', sans-serif;
  	font-size: 16px;
}
/* Common */

.text-center {
  	display:block;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.text-center p {
	margin: 0px 0px 0px 12px;
}
button,a {
  cursor: pointer;
}

/* HEADER */

.up-header {
  height: 44px;
  width: 100%;
  background-color: #004360;
  font-size:16px;
  color:#fff;

}

.sub-header {
	height: 80px;
	max-width: 100%;
 	display:flex;
 	justify-content: center;
  	align-items: center;
	margin: 0 auto;
}

.sub-header-logo {
	max-width: 100%;
	width: 250px;
	text-align: left;
	padding-top: 3px;
}

.mainlogo {
 	width: 241px;
	height: 52px;
}

.white-space{
  	width: 630.44px;
}

.sub-header-button {
	width: 250.92px;
	margin-top: -4px;
	text-align: right;
	padding-right: 17px;
	box-sizing: border-box;
}

#quiz {
  	font-family: 'Roboto', sans-serif;
  	font-size: 16px;
  	color:#11bcc3;
 	border: 3px solid #11bcc3;
  	font-weight: 500;
 	background-color: transparent;
 	border-radius: 4px;
	cursor: pointer;
	padding: 11px 30px 14px 30px;
	text-decoration: none;
}
.bottom-header {
	background-color: #F2F1F6;
	height: 392.47px;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-end;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: right;
}

.bottom-header-col1 {
	width: 509.5px;
	padding-left: 76px;
	box-sizing: border-box;
}

.bottom-header-col1 h1 {
	color: #354a5e;
	font-size: 50px;
	font-weight: 600;
	line-height: 1;
	display: block;
	text-align: left;
	text-transform: uppercase;
	margin: 0px;
	
}

.bottom-header-text-icon {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 3px;
}


.bottom-header-text-icon h2 {
	color: #59afb3;
    font-size: 32px;
	font-weight: 700;
    font-weight: bold;
    line-height: 1.3em;
	text-align: left;
	text-transform: uppercase;
	vertical-align: bottom;
	position: relative;
	margin: 0;
}

.bottom-header-text-icon img {
	width: 32px;
	height: 32px;
	margin-top: 4px;
	padding-left: 19px;
}

.bottom-header-col1 h4 {
	font-size: 22px;
	color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
	text-align: left;
	line-height: 1.5;
	display: block;
	text-indent: 22px;
	margin: 0;
	padding-top: 16px;
	padding-bottom: 25px;
}

.bottom-header-button {
	display: block;
	text-align: left;
	padding-bottom: 34px;
}

.qualify-button {
	transition: transform .2s;
	cursor: pointer;
	line-height: 1;	
}

#qualify {
	font-size: 20px;
    font-weight: 600;
    fill: #ffffff;
    color: #ffffff;
    background-color: #ff8d8f;
    border-radius: 5px 5px 5px 5px;
    padding: 16px 45px 18px 45px;
	text-decoration: none;
	text-align: center;	
}

.fa {
	padding-right: 5px;
}

.qualify-button:hover {
  transition: all .2s linear;
  transform: scale(1.05);
}

.bottom-header-col1 p {
	text-align: left;
	color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
	padding-bottom: 27px;
}

.bottom-header-col2 {
	width: 509.5px;
	text-align: center;
	box-sizing: border-box;
	padding-bottom: 10px;
}

.bottom-header-col2 img {
	width: 81.7%;
	max-width: 100%;
	vertical-align: bottom;
	height: auto;
}




/* MAIN */
/* 1 block */
.act-block {
  	width: 100%;
	text-align: center;
	box-sizing: border-box;
}
.approv-title {
	text-align: center;
	padding-top: 18px;
}
.approv-title h1 {
  	font-size: 22px;
  	color: rgba(55, 73, 95, 0.97);
  	font-weight: 700;
}
.approv-title p {
  	font-size: 1rem;
  	color: #7a7a7a;
	padding-top: 5px;
}
.approv-list, .approv-info{
  	display: flex;
  	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	margin: 0 auto;
	width: 900px;
}

.approv-item {
	padding: 15px 20px 0px;
  	color: #7a7a7a;
  	font-size: 16px;
  	text-align: center;
  	font-weight: 400;
  	line-height: 1.5;
}

 .a {
  width: 225px;
  height: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.a img {
  width: 138.75px;
  height: 138.75px;
  padding-bottom: 5px;
}
.b {
  width: 223px;
  height: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b img {
  width: 138px;
  height: 137px;
  padding-bottom: 5px;
}
.c {
  width: 226px;
  height: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c img {
  width: 140px;
  height: 140px;
  padding-bottom: 5px;
}
.approv-item p {
  max-width: 187px;
}

.cat-dog-container {
  	width: 299.98px;
  	height: 336px;
	padding-bottom: 30px;
	padding-left: 9px;
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
}

.approv-info {
	height: 336.5px;
}

.approv-info img {
  width: 280px;
  height: 275px;
}
.info {
  padding: 10px 10px 10px 12px;
  width: 584px;
  height: 336px;
	text-align: left;
}
.info span {
  width: 564px;
  font-size: 1.2rem;
  color:#333;
  font-weight: 300;
  line-height: 1.6;
}
.info p {
  padding-top: 16px;
  width: 564px;
  color: #7a7a7a;
  line-height: 1.9em;
  font-size: 16px;
  margin: 0;
}


/* 2 block */
.steps {
  	background-color: rgba(51,73,94,0.98);
  	width: 100%;
	height: 404px;
	box-sizing: border-box;
	text-align: center;
	margin: -2px 0 0 0;
}

.steps h1 {
  	color: #ffffff;
  	font-size: 34px;
  	font-weight: 300;
	padding-top: 22px;
}

.step-list {
	width: 950px;
	margin: 0 auto;
	padding-left: 100px;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
}

.step-item {
  	width: 211.66px;
  	text-align: center;
  	color: #fff;
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 1.5;
  	margin-right: 100px;
	padding-top: 9px;
}

.step-item img {
  	width: 100%;
	height: 191px;;
  	margin-bottom: 15px;
}

.step-item p {
  margin: 0;
  margin-bottom: 24px;
}

.get-letter {
  	width: 100%;
  	height: 168px;
	text-align: center;
	padding-top: 50px;
	box-sizing: border-box;
	margin-bottom: -2px;
}

.get-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-wrapper button {
  	margin-bottom: 20px; 
  	font-family: Roboto,sans-serif;
  	background-color: rgba(255,141,143,0.99);
  	border-radius: 4px;
  	border: none;
  	color:#fff;
  	font-size: 18px;
  	font-weight: 500;
  	cursor: pointer;
	padding: 16px 39px 18px 39px;
  	height: 58px;
}
.get-wrapper p {
  text-align: center;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
/* 3 block */
.certification {
  background-color: #f6f6f4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cert-title{
  text-align: center;
}
.cert-title h1 {
	padding-top: 44px;
  	color: #55595c;
  	font-size: 34px;
  	font-weight: 300;
	margin: 0;
}
.cert-title p {
	padding-top: 18px;
	padding-bottom: 68px;
  	font-weight: 400;
  	color: #55595c;
  	font-size: 16px;
	margin: 0;
}
.tile-row {
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
}
.row-1 {
  margin-bottom: 21px;
}
.row-2 {
  margin-bottom: 35px;
}
.tile-item {
  width: 437px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.tile-item:nth-child(odd){
  margin-right: 0px;
}
.item-1 img {
  	width: 258.844px;
  	height: 258.844px;
	padding-bottom: 51px;
}
.item-1 h2 {
  	margin: 0;
  	color: #0c0c0c;
	font-size: 22px;
  	opacity: 97%;
	padding-bottom: 18px;
}
.item-2 img{
  	width: 292.25px;
  	height: 292.25px;
	padding-bottom: 21px;
}
.item-2 h2 {
  	margin: 0;
  	color: #0c0c0c;
	font-size: 22px;
  	opacity: 97%;
	padding-bottom: 18px;
}
.item-3 img,
.item-4 img {
  	width: 292.25px;
  	height: 292.25px;
	padding-bottom: 21px;
}
.item-3 h2,
.item-4 h2 {
  	margin: 0;
	font-size: 22px;
  	color: #0c0c0c;
  	opacity: 97%;
	padding-bottom: 18px;
}

.tile-item p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.certificate-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.certificate-bottom button {
	margin: 0;
  	background-color: rgba(255,141,143,0.99);
  	color:#fff;
  	font-size: 18px;
  	font-weight: 500;
  	border:none;
  	border-radius: 4px;
	padding: 16px 39px 18px 39px;
  	height: 58px;
	font-family: Roboto, sans-serif
}
.certificate-bottom span {
  	font-size: 16px;
  	color:#7a7a7a;
  	font-weight: 400;
  	line-height: 1.5;
	padding-top: 19px;
  	margin-bottom: 11px;
}

/* 5 block */
.image-banner {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url('../imgs/foster-dog-2.webp');
  background-size: cover;
  background-position: center center;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container {
  width: 825px;
  text-align: center;
}

.image-banner p{
  margin: 0 auto;
  margin-bottom: 33px;
  font-size: 22px;
  color: #fff;
  line-height: 2em;
  font-weight: 300;
  max-width: 825px;
}
.image-banner p:last-child {
  margin-bottom: 0;
}
/* get-esa */

.get-esa {
  background-color: #fff6ed;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.empty {
  width: 640px;
}
.get-esa-action {
  width: 640px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.get-esa-action h2 {
  color:#000;
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.get-esa-action p {
  font-size: 16px;
  color: #7a7a7a;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}
.get-esa-action button {
  font-size: 18px;
  color: #fff;
  padding: 20px 40px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  background-color: #11bcc3;
  white-space: nowrap;
}
.get-esa-img {
 
  width: 640px;
  text-align: center;
}
.get-esa-img img {
  width: 400px;
  height: 340px;
  
}

/* FOOTER */

.footer-up {
  width: 100%;
  background-color: #fd908d;
}
.footer-up-wrapper {
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
}
.socials {
  width: 843px;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}
.socials img {
  width: 426px;
  height: 91px;
}


.fa-facebook, .fa-instagram {
  width: 15px;
  height: 15px;
  color: rgba(255,255,255,0.45);
}
.fa-facebook {
  margin-right: 23px;
}
.socials .fa:hover{
  color: rgba(255,255,255,1);
}
.quick-links {
  width: 287px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  color:#fff;
}
.quick-links .fa {
  font-size: 15px;
}
.quick-links h4 {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 19px;
}
.quick-links a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  padding-bottom: 2.5px;
  line-height: 1.7;
  width: max-content;
}
.quick-links span {
  padding-left: 12px;
}
.payment {
  color:#fff;
  flex-direction: column;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  flex: 1;
}
.payment h4{
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 22px;
  margin-left: calc(20px/2);
}
.payment-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 25px;
}
.payment-row:last-child{
  margin: 0;
}
.payment-row .fa {
  margin-right: calc(20px/2);
  margin-left: calc(20px/2);
  width: 1.25em;
  font-size: 30px;
}
.footer-down {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e3817d;
}

.down-wrapper {
  max-width: 40.104166666666664vw;
  width: 40.104166666666664vw;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rights {
  padding: 10px;
  color: rgba(255,255,255,0.58);
    font-size: 13px;
    font-weight: 300;
    width: 100%;
}
.contacts {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 100%;
}
.contacts a {
  margin-right: 8px;
    margin-left: 8px;
  color: rgba(255,255,255,0.55);
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

@media  (min-width: 768px) and (max-width: 1024px){
  #quiz, .white-space{
    display: none;
  }
   .esa-block {
    width: auto;
    height: 100%;
    align-items: left;
    justify-content: center;
    padding-left: 38.391px;
    white-space: nowrap;
  }
  .esa-block h1 {
    font-size: 34px;
  }
  .esa-block-sub-title h2 {
    font-size: 26px;
  }
  .esa-block span {
    font-size: 18px;
  }
  .esa-block p {
    font-size: 12px;
  }
  .banner img {
    height: auto;
    width: 50%;
    padding: 0;
  }
  .autoslider-container {
    width: 100% !important;
  }
  
  .get-esa-img img {
    width: 321.328px;
    height: 293.203px;
  }
  .act-block span {
    text-align: center;
  }
  .approv-item p {
    max-width: 152px;
  }
  .step-item img {
    width: 150px;
  }
  .down-wrapper {
    max-width: 100%;
    width: 100%;
  }
  .slider-block .draggable{
    height: 714px;
    width: 644px;
  }
  .slider-block .info {
    height: 714px!important;
    width: 260px!important;
    display: flex!important;
    margin-right: 24px!important;
  }
  .slider-block .slider {
    width: 639px!important;
  }
  .slider-block .info p {
    width: 220px;
  }
}

@media (max-width: 767px) {
  #quiz, .white-space{
    display: none;
  }
  .sub-header {
    margin-bottom: 20px;
  }
  .banner {
    height: 710px;
    flex-direction: column-reverse;
  }
   .esa-block {
    width: auto;
    height: 375px;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    white-space: nowrap;
    text-align: center;
  }
  #qualify span{
    margin: 0;
    padding: 5px;
  }
  .act-block {
    text-align: center;
  }
  .act-block span {
    width: 100%;
  }
  .esa-block h1 {
    font-size: 34px;
  }
  .esa-block-sub-title h2 {
    font-size: 26px;
  }
  .banner img {
    height: 335px;
    width: auto;
    padding: 0;
  }
  .esa-block p {
    font-size: 12px;
    padding: 0;
  }
  .approv-list, .approv-info {
    flex-direction: column;
    align-items: center;
  }
  .steps {
    text-align: center;
  }
  .steps h1 {
    width: 275px;
    font-size: 26px;
  }
  .step-list {
    flex-direction: column;
  }
  .cert-title {
    text-align: center;
  }
  .tile-row {
    flex-direction: column;
  }
  .tile-item {
    width: auto;
  }
  .image-banner p {
    font-size: 17px;
  }
  .banner-container {
    width: auto;
  }
  .autoslider-container {
    width: 280px !important;
  }
  .get-esa {
    flex-direction: column-reverse;
  }
  .get-esa-action {
    width: auto;
  }
  .get-esa-img {
    width: auto;
  }
  .get-esa-img img{
      width: 355px;
      height: 324px;
  }
  .get-esa-action h2 {
    font-size: 20px;
  }
  .footer-up-wrapper {
    width: 100%;
    padding: 60px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
}
.socials {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-column: 1/-1;
}
.quick-links {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    color: #fff;
    grid-column: 1/1;
    grid-row: 2/2;
    width: auto;
}
.payment {
    color: #fff;
    flex-direction: column;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: fit-content;
    flex: 1;
    grid-row: 2/2;
    margin: 0;
}
.socials img {
  width:  207px;
  height: 44.5px;
}
.down-wrapper {
  max-width: 100%;
  width: 100%;
  flex-direction: column-reverse;
}
.slider-block {
  text-align: center;
}
.contacts {
  justify-content: center;
  width: auto;
}
.rights {
  text-align: center;
  width: auto;
}
.slider-block .draggable{
  height: 690px;
  width: 260px;
}
.slider-block .info {
  height: 690px!important;
  width: 220px!important;
  display: flex!important;
  margin-right: 0!important;
}
.slider-block .slider {
  width: 100%!important;
}
.slider-block .info p {
  width: 220px;
}
.slider-block .slick-list {
  margin: 0 auto!important;
}
.slider-block .slick-prev {
  left: 0!important;
}
.slider-block .slick-next {
  right: 0!important;
}
.info {
  width: 350px;
  height: auto;
}
.info span {
  width: 293px;
}
.info p {
  width: 325px;
  margin: 0 auto;
  padding-top: 16px;
 
}
.step-item {
  margin-right: 0;
}
.tile-item:nth-child(odd) {
  margin-right: 0px;
}
.esa-block span{
  padding-left: 0px;
}
.accordion {
  font-size: 15px !important;
  color: #000 !important;
  text-align: left !important;
}
}

@media (min-width:1025px) {
  .slider-block .draggable {
    width: 994.908px ;
    height: 585px;
    padding-left: 20px;
  }
  .slider-block .info {
    width: 436px!important;
    height: 458px !important;
    display: flex!important;
  }
  .slider-block .info p {
    width: 100%;
  }
  .slider {
    width: 100%;
  }
  .slick-prev {
    left: -5%!important;
  }
  .slick-next {
    right: -5%!important;
  }
}